@media screen and (max-width: 1353px) {
    #image {
      width: 720px;
      height: 630px;
    }
  
    #account-text-items {
      margin-left: 12%;
    }

    #account-btn{
     padding: 16px 140px;
    }

  }

  @media screen and (max-width: 1301px) {
    #image {
      width: 650px;
      height: 555px;
    }
  
    #account-text-items {
      margin-left: 9%;
    }
  }
  
  
  
  @media screen and (max-width: 1171px) {
    #image {
      width: 590px;
      height: 545px;
    }
  
  
    #login-text-items {
      margin-left: 7%;
    }
  }
  
  
  
  @media screen and (max-width: 1066px) {
    #image {
      width: 510px;
      height: 485px;
    }
  }
  
  
  @media screen and (max-width: 983px) {
    #image {
      width: 510px;
      height: 485px;
    }

   #account-text-items{
    margin-left: 5%;
   }

  }
  
  @media (max-width: 940px) {
    #account-text-items{
      padding: 10px;
    }
  
    #account-items-text {
      font-size: 22px;
     
    }
  
    #account-p{
      font-size: 14px;
    }
  
    #account-input {
      padding: 8px;
    }
  
    #account-btn {
      padding: 8px 48px;
    }

    #Google-btn {
      padding: 8px 16px;
    }

    #p{
      margin-right: 60%;
    }

    #forget-pass {
      font-size: 12px;
     white-space: nowrap;
    }

    #acc-p {
      font-size: 12px;
     white-space: nowrap;
    }

    #image{
      max-width: 90%;
    
    }
  }
  
  /* Tablet için medya sorgusu */
  @media (max-width: 768px) {
    #account-text-items {
   margin-left: 8%;
   margin-right: 5%;
    }
  
    #account-items-text{
      font-size: 20px;
      white-space: nowrap;
    }
  
    #account-p {
      font-size: 12px;
    }
  
    #account-input {
      padding: 6px;
    }
  
    #account-btn {
      padding: 6px 45px;
      white-space: nowrap;
    }

    #Google-btn {
      padding: 6px 12px;
      white-space: nowrap;
    }

    #p{
      margin-right: 60%;
    }

    #forget-pass {
      font-size: 12px;
     white-space: nowrap;
    }

    #acc-p {
      font-size: 12px;
     white-space: nowrap;
    }

    #image{
      max-width: 100%;
    
    }
  }
  

  
  @media screen and (max-width: 450px) {
    #image {
     display: none;
    }

    #account-text-items {
    margin-left: 25%;
    margin-top: 3%;  
    }

    #account-btn{
     padding: 6px 45px;
    }

    #Google-btn{
     padding: 6px 12px;
    }

   #forget-pass{
    font-size: 10px;
   }

   #acc-p{
    font-size: 10px;
   }


  }

  @media screen and (max-width: 400px) {
    #image {
     display: none;
    }

    #account-text-items {
    margin-left: 24%;
    margin-top: 3%;  
    }

    #account-btn{
      padding: 6px 45px;
    }

    #Google-btn{
      padding: 6px 12px; 
    }

   #forget-pass{
    font-size: 10px;
   }

   #acc-p{
    font-size: 10px;
   }


  }

  @media screen and (max-width: 350px) {
    #image {
     display: none;
    }

    #account-text-items {
    margin-left: 4%;
    margin-top: 3%;  
    }

    #account-btn{
        font-size: 6px;
    }

    #Google-btn{
        font-size: 7.5px;
    }

   #forget-pass{
    font-size: 10px;
   }

   #acc-p{
    font-size: 10px;
   }


  }