Img{
    width: 570px;
    height: 600px;
    background-color: black;
}

.Img1{
    width: 511px;
    height: 511px;
    position: relative;
    
}

.ImgH1{
    color: #fff;
    position: absolute;
    padding: 10%;
}