.services {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.serviceName {
    font-size: 20px;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: 600;
    line-height: 28px;
}

.serviceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.serviceIcon {
    margin-bottom: 25px;
    width: 80px;
    height: 80px;
    background-color: black;
    color: #fff;
    border-radius: 50px;
    border: 10px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deliveryIcon {
    font-size: 30px;
}

.aboutService {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 13px;
}



.serviceItem:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    cursor: pointer;
}

.serviceItem:hover .deliveryIcon {
    transition: all 0.95s;
    transform: rotateY(360deg);
    cursor: pointer;
}

.serviceItem:hover .serviceIcon {
    background-color: #fff;
    color: black
}


.delivery{
    
text-align: center;
}