.red {
    border: 1px solid #DB4444;
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #DB4444;
}

.rectangleText {
    color: #DB4444;
    font-size: 16px;
}

.rectangle {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 15px;
    align-items: center;
}

.sectionProductsText {
    font-size: 36px;
    font-weight: 600;
    font-family: "Inter";
}

.productBg {
    background-color: #f5f5f5;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.productImg {
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
}

.products {
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 35px; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}

.imageItem {
    width: 100%;
}

.svg {
    /* width: 20px;
    height: 18px; */
    top: 5px;
    left: 4px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
    color: #000;
    width: 30px;
    height: 30px;

}


.iconsBox {
    display: flex;
    margin: 15px 0;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 25px;
    top: 0px;

}

.productItems {
    position: relative;
    margin-bottom: 30px;
}

.productAboutText {
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
    padding: 10px 0px;
}

.priceStar {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.productPrice {
    color: rgb(219, 68, 68);
    margin-right: 10px;
    font-family: "Poppins";
}

.star {
    color: #FFAD33;
}

.quanlity {
    margin-left: 10px;
    color: grey;
}

.productBg {

    cursor: pointer;
}

.viewButton {
    cursor: pointer;
    background-color: #DB4444;
    color: #FFF;
    width: 234px;
    height: 56px;
    border: none;
    padding: 16px 48px 16px 48px;
    border-radius: 4px;
}

.viewButton::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}




.viewAllProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.productBg:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transition: 1s;
}

.addToCart {
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    outline: none;
    background-color: #000;
    display: none;
}

.productBg:hover .addToCart {
    display: block;
    cursor: pointer;
}

.svgHeart:hover {
    color: red !important; 
    transform: scale(1.3);
    transition: 2s;
}

.svgEyes:hover {
    transform: scale(1.3);
    transition: 2s;
    color: lightskyblue;
}

.viewButton:hover{
    background-color: #fff;
    color: rgb(219, 68, 68);
    transition: color 0.9s ease, 0.9s ease;
    border: 1px solid rgb(219, 68, 68);
}