.rectangle {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    align-items: center;
}

.frame {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 0 auto;
}

.rectangle h1 {
    color: #DB4444;
    font-family: 'Inter';
    font-size: 20px;
}

.red {
    border: 1px solid #DB4444;
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #DB4444;
}

.browsing {
    font-family: Inter;
    /* font-size: 36px; */
    font-weight: bold;
    margin: 20px auto;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    cursor: pointer;
    /* gap: 36px; */
}



.categorieBoxes {
    width: 170px;
    height: 170px;
    /* padding: 25px; */
    /* justify-content: center; */
    border-radius: 4px;
    border: 2px solid #0000004D;
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    transition:  all 0.6s ease-in-out;
    /* padding-top: 21px; */
    text-align: center;
    padding: 24px 24px;
}

.categoriesName{
    font-family: "Poppins";
}

.icon {
    width: 56px;
    height: 56px;
    top: 25px;
    left: 57px;
}


.categorieBoxes h1 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px;
}

.categorieBoxes:hover {
    background-color: #DB4444;
    transition:  all 0.8s ease-in-out;
}

.categorieBoxes:hover h1 {
    color: #fff;
}

.categorieBoxes:hover .icon {
    color: #fff;
    transition: ease-in-out 0.1s;
}

.mobileCodes{
    display: none;
}

.plansetCodes{
    display: none;
}