.sectionLeftItems {
    width: 20%;
    border-right: 1px solid rgba(129, 129, 129, 0.245);
    padding-right: 18px;
    padding-top: 35px;
    margin-right: 40px;
}

.sectionItems{
    display: flex;
}

.sliderBox{
    background-color: #000;
    width: 100%;
    height: 410px;
}