.pageLink {
    display: flex;
    margin: 80px 0px;
}

.homePage {
    font-size: 14px;
    font-family: "Poppins";
    color: grey;
    padding-right: 3px;
}

.aboutPage {
    font-size: 14px;
    font-family: "Poppins";
}

.contact{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contactInformation{
    width: 340px;
    height: 457px;
    padding: 40px 35px;
    border-radius: 4px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.callUs{
    display: flex;
    align-items: center;
    padding-bottom: 15px;

}


.phoneIcon{
    background-color: red;
    border-radius: 50px;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 24px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactInput{
    width: 70%;
    border: 1px solid;
}

.callUsText{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
    padding-left: 12px;
}

.availableTime{
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins";
    padding: 10px 0px;
}
.phoneNumber{
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins";
}

.line{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 20px 0px;
}

.writtingInfo{
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins";
    padding: 15px 0px;
}
.emails{
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins";
    padding: 10px 0px;
}

.btnSend{
    display: flex;
    justify-content: end;
    cursor: pointer;
}




.callNum {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .callText {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .callNumText {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .line {
    width: 270px;
    border: 1px solid #7F7F7F;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .Emails {
    margin-bottom: 16px;
  }
  .AllBoxOne {
    border-radius: 4px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    width: 340px;
    height: 457px;
    padding: 40px 35px 51px 35px;
  }
  .AllBoxWwo {
    border-radius: 4px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    width: 100%;
    height: 457px;
    margin-bottom: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .YourName {
    border-radius: 4px;
    background: rgb(245, 245, 245);
    width: 235px;
    height: 50px;
    padding: 13px 118px 13px 16px;
  }
  .YourNameInput {
    outline: none;
    border: none;
    background: rgb(245, 245, 245);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .allInput {
    display: flex;
    width: 100%;
    gap: 16px;
  }
  .formBox {
    width: 737px;
  }
  .YourMassage {
    width: 737px;
    height: 207px;
    background: rgb(245, 245, 245);
    margin-top: 32px;
    padding: 13px 16px 0 16px;
  }
  .YourMassageInput {
    width: 100%;
    background: rgb(245, 245, 245);
    display: flex;
    padding-bottom: 150px;
    overflow: hidden;
    outline: none;
    border: none;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .SendButton {
    border-radius: 4px;
    border: none;
    background: rgb(219, 68, 68);
    padding: 16px 48px 16px 48px;
    color: rgb(250, 250, 250);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 32px;
    display: flex;
    transition: color 0.9s ease, 0.9s ease;
  }
  .SendButton:hover {
    background-color: #fff;
    color: rgb(219, 68, 68);
    transition: color 0.9s ease, 0.9s ease;
    border: 1px solid rgb(219, 68, 68);
  }
  .mediaIconAndImput {
    display: none;
  }
  .iconBars {
    display: none;
  }
  .mobileAsideBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(18, 17, 17);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 10px;
    transform: translateX(-100%);
    transition: transform 0.7s ease-in-out;
    opacity: 0;
  }
  .mobileAsideBox.open {
    transform: translateX(0);
    opacity: 1;
    top: 103px;
  }
  .asideDiv {
    margin-top: 32px;
  }
  .mediaIconAndImput {
    display: none;
  }
  .a {
    width: 203px;
    display: flex;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
  }  