.headerLayer {
    background-color: #000;
    padding: 8px;
}


.headerLayerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layer {
    display: flex;
    margin-left: 27%;

}

.headerLayerP {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 300;
}

.headerLayerA {
    color: #fff;
    text-decoration-line: underline;
}

.languages {
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
}

/*! LAYER CODES END */


/* !HEADER CODES START */

.header {
    padding-top: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.249);
    padding-bottom: 15px;
}

.brand {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerComponents {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* width: 26%; */

}

.plansetHeaderIcons{
    display: none;
}

.plansetSearch {
    display: none;
}


.mobileHeader{
    display: none;
}


