.form{
    /* width: 232px; */
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
    
}

input{
    border: none;
    outline: none;
    background-color: #f5f5f5;
}

.searchIcon{
    cursor: pointer;
}

.closeModal{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 33px;
    cursor: pointer;
}

.modal{
    display: flex;
    justify-content: center;
}

.inputSearch{
    width: 50%;
    height: 65px;
    background: red;
    padding: 30px;
    font-size: 20px;
    margin-top: 30px;

}

.inputSearch::placeholder{
    color: #fff;
}

 .modalItem{
    inset: 0px !important;
    position: absolute;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
} 




