.sectionAdvertising{
    background-color: #000;
    width: 100%;
    height: 500px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 80px;
    padding: 70px 70px;
}

 .advertisingItems{
  width: 440px;
} 

.advertisingProduct{
    width: 500px;
}

.secondProd{
    width: 100%;
}

.categoriesText{
    color: rgb(0, 255, 102);
    font-size: 16px;
    font-weight: 600;
}

.aboutProduct{
    font-size: 47px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 50px 0px;
    /* padding: 27px 0px; */
}

.advertisingDate{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.advertisingDateItems{
    border: 1px solid grey;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    text-align: center;
    padding-top: 7px;
    background-color: rgb(255, 255, 255);
    color: #000;
}

.dateNum{
    font-weight: 600;
    font-size: 17px;
}

.dateText{
    font-size: 11px;
    font-weight: 400;
}

.advertisingBtn{
    border-radius: 5px;
    background-color: rgb(0, 255, 102);
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    padding: 17px 65px;
}