.login {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-family: "Inter", sans-serif;
}

.logImg {
  width: 750px;
  height: 650px;
  margin-top: 7%;
}



.text {
  margin-left: 15%;
  /* margin-top: 2%; */
}

.textH1 {
  padding-bottom: 8%;
}

 .textInput{
  /* padding-top: 2%; */
  border: none;
  border-bottom: 1px solid black;
  display: block;
  margin-top: 10%;
  /* padding-right: 40%; */
  outline: none;
  background: #fff;
  width: 100%;
  padding: 10px 0px;
}



.forget {
  display: flex;
  align-items: center;
  color: #DB4444;
}




.forgetButton {
  margin-top: 10%;
  background-color: #DB4444;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 3% 9%;
  margin-right: 22%;
  cursor: pointer;
}


.forgetP {
  padding-top: 10%;
  cursor: pointer;
}




