.login {
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
  font-family: "Inter", sans-serif;
}

.logImg {

  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

.log img {

  width: 750px;
  height: 650px;
  margin-top: 7%;
}

.text {

  margin-left: 15%;
  /* margin-top: 2%; */
}

.textH1 {
  padding-bottom: 8%;
}

 .textInput{
  /* padding-top: 2%; */

  margin-right: 15%;
  margin-top: 2%;
}

.text h1 {
  padding-bottom: 8%;
}

.text input {
  padding-top: 2%;

  border: none;
  border-bottom: 1px solid black;
  display: block;
  margin-top: 10%;

  /* padding-right: 40%; */
  outline: none;
  background: #fff;
  width: 100%;
  padding: 10px 0px;
}

input ::placeholder {
  color: #f5f5f5 !important;

  padding-right: 40%;
  outline: none;
  background: #fff;

}


.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #DB4444;
  margin-top: 20px;
}




.forgetButton {


  /* margin-top: 10%; */
  background-color: #DB4444;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 3% 10%;
  /* margin-right: 22%; */
  cursor: pointer;
}


.forgetP {
  /* padding-top: 10%; */
  cursor: pointer;
  font-size: 13px;
}



@media screen and (max-width: 835px) {
  .log img {
    width: 350px;
    height: 250px;
    margin-left: 20%;
  }

  .text {
    font-size: 12px;
    margin-left: 12%;
  }

  .forget button {
    font-size: 13px;
  }

  .forget p {
    font-size: 11px;
  }

}

@media screen and (max-width: 821px) {

  .log img {
    margin-left: 12%;
  }

  .text {
    margin-left: 17%;
    font-size: 11px;
  }

  .forget button {
    font-size: 12px;
  }

  .forget p {
    font-size: 10px;
  }

}

@media screen and (max-width: 801px) {

  .log img {
    margin-left: 12%;
  }

  .text {
    margin-left: 10%;
    font-size: 10px;
  }

  .text p {
    font-size: 11px;
  }

  .forget button {
    font-size: 14px;
  }

  .forget p {
    font-size: 8px;
  }

}

@media screen and (max-width: 429px) {

  .log img {
    display: none;
  }

  .text {
    margin-right: 32%;
  }
}

@media screen and (max-width: 415px) {

  .log img {
    display: none;
  }

  .text {
    margin-right: 30%;
  }
}
